h1 {
  text-align: center
}

.mybutton {
  color: green;
  text-align: center;
  border-style: double;
  background-color: red;
  margin-left: auto;
  margin-right: auto;
}

.navbar{
  background-color: #b0cff7;
  height: 50px
}
