h1 {
  text-align: center
}

.mybutton {
  color: black;
  text-align: center;
  border-style: double;
  border-color: black;
  border-width: 3px; 
  background-color: #669af2;
  margin: 15px;
  padding: 10px;
  text-decoration: none;
}

.mybutton:hover{
  background-color: #558ff2;
  color: red;
}

#now{
  background-color: #558ff2;
  color: black;
}

.navbar{
  display: flex;
  background-color: #b0cff7;
  height: 50px;
  align-items: center;
  justify-content: center;
  border-style: double;
  border-color: black;
  border-width: 6px; 
}

body {
  background-color: #adcdff;
}

.sec_list{
  list-style-type: square;
}

.mytable, th, td{
  border: 1px solid black;
  padding: 3px;
}

p {
  font-family: Helvetica, Arial;
  font-size: 16px;
}




