h1 {
  text-align: center
}

.mybutton {
  color: green;
  text-align: center;
  border-style: double;
  border-color: black;7
  border-width: 3px; 
  background-color: red;
  height: 30px;
}

.navbar{
  display: flex;
  background-color: #b0cff7;
  height: 50px;
  text-align: center;
  justify-content: center;
}
